<div class="container">
<h2>Acerca de</h2>
<hr>
<h4>Agregar marcador</h4>
<p>
	Para agregar un marcador es necesario seguir los siguientes pasos:

	<ol>
		<li>Ingresar la dirección en la barra superior de búsqueda y luego presionar en el botón buscar <span class="glyphicon glyphicon-search"></span>. Para mejorar la precisión de la búsqueda, se recomienda hacer uso del siguiente formato <b>Calle 1234, Ciudad, País</b> (Especificando la calle, el número, la ciudad y el país).</li>
		<li>Arrastrar el mapa y posicionar el marcador <span class="glyphicon glyphicon-map-marker"></span> justo por encima de la ubicación donde quieres fijar el nuevo marcador.</li>
		<li>Finalmente, presionar en el botón <b>Agregar marcador</b>.</li>
	</ol>

	El nuevo marcador debería aparecer en tu mapa, con un color rojo.
	
</p>
</div>